@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assurer que le body et html prennent toute la hauteur sur web */
html, body, #root, [data-reactroot] {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
